* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  gap: 1rem;
}
body {
  background: transparent;
  background-color: transparent;
  background-image: url(thug.jpg);
}
img {
  max-width: 100%;
}

li {
  display: flex;

  gap: 10px;

  text-align: justify;
}
ul > li + h4 {
  text-align: justify;
}

#scroll_to_top {
  height: 26px;
  width: 50px;
}
#favorite styled {
  display: flex;
  display: inline;
  text-align: end;
}
#n1 {
  padding: 5px;
}
#ABOUT {
  padding: 5px;
  margin: 50px;
  color: blue;
}
#WORK {
  padding: 5px;
  margin: 50px;
  color: blue;
}
#RESUME {
  padding: 5px;
  margin: 50px;
  color: blue;
}
#N5 {
  padding: 5px;
  margin: 50px;
  color: blue;
}
#CONTACT {
  padding: 5px;
  margin: 50px;
  color: blue;
}
#endpage {
  padding: 5px;
  margin: 50px;
  color: black;
}
#scroll_to_top {
  align-items: "right";
}
#vdo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#Subscribe {
  display: flex;
  padding: 5px;
  margin: 50px;
  flex-direction: column;
  align-items: start;
  color: black;
}
